@import "../variables";

.sort {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	&__label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		svg {
			margin-right: 8px;
			transition: transform 0.3s ease-in-out;
		}

		b {
			margin-right: 8px;

		}

		span {
			color: $orange;
			border-bottom: 1px dashed $orange;
			cursor: pointer;
		}

		&.active {
			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__popup {
		position: absolute;
		right: 0;
		top: 15px;
		margin-top: 15px;
		background: #ffffff;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
		border-radius: 10px;
		overflow: hidden;
		padding: 10px 0;
		width: 160px;


		ul {
			overflow: hidden;
			li {
				padding: 12px 20px;
				cursor: pointer;
				transition: background 0.2s ease-in-out,color 0.2s ease-in-out;

				&.active,
				&:hover {
					background: rgba(254, 95, 30, 0.05);
				}

				&.active {
					font-weight: bold;
					color: $orange;
				}
			}
		}
	}

	&__arrows-btn {
		background: inherit;
		border: none;
		padding: 3px;
		transition: color $duration ease-in-out, opacity $duration ease-in-out;

		&:hover {
			color: #fe5f1e;
		}
		&:active {
			opacity: .7;
		}
	}
}
